.App {
  text-align: center;
}
 body {
  background-image: url(./images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }

 .header {
  position: absolute;
  width: 451.85px;
  height: 263.46px;
  left: 412.69px;
  top: 35.92px;
 }

 .header h1 {
  color: rgb(230, 230, 230);
  position: absolute;
  width: 451.85px;
  height: 50.63px;
  left: 412.69px;
  top: 142.98px;
 }